.accordion-item,.accordion-body,.accordion-header,.accordion-button{
    background: rgba(211, 246, 253,0.2)  !important;
    border: none;
  }
button{
  font-weight: bold;
}
.faq{
  margin-top: 10%;
}