footer{
    hr{
        color: white !important;
    }
    background-color: #1d2930;
    h3{
        color: #00e7a7 !important;
    }
    a,p{color: white !important;
        text-shadow: none !important;
    font-weight: normal !important;
span{
    font-weight: 400;
}}
a:hover{
    color: #00e7a7 !important;
}
svg{
    color: white;
}
  }
  @media(max-width:800px) {
    .contact{
        margin-left: 0 !important;
    }
  }
