<header>
<div class="cover-container">
    <div class="half-width">
      <img src="../../assets/img/illustrations/coder.png" alt="Image 1">
      <div class="cover-title">
      </div>
    </div>
    <div class="half-width">
      <img src="../../assets/img/illustrations/coder1.png" alt="Image 2">
    </div>
  </div>
  <div class="cover-title">
    <h1>BIENVENUE <br>CHEZ CSI BUSINESS</h1>
  </div>
  </header>
  <div class="presentation">
    <h1>INNOVATEURS EN CONCEPTION ET DEVELOPPEMENT</h1>
    <p class="text-center">Nous sommes une équipe d'experts passionnés de l'informatique, dédiés à hisser l'image de nos clients au sommet de l'excellence. Notre agilité se distingue par une réactivité exceptionnelle, offrant des solutions avec une efficacité inégalée. Engagés envers l'excellence, nous garantissons des résultats performants pour nos clients.</p>
  </div>
  <div class="presentation second">
    <h1 class="text-center">Rencontrez l'équipe qui donne vie à vos idées</h1>
    <p class="text-center">Notre créativité définie et originale, combinée à une jeunesse et modernité inhérentes, insuffle une énergie unique dans chaque projet que nous entreprenons. Nous adoptons une approche avant-gardiste en restant à la pointe des technologies innovantes. En constante croissance, notre expansion continue assure à nos clients une évolution dynamique</p>    
  </div>
    <div class="cover-little">
    <div class="container">
        <div class="col">
            <h1>Une passion pour le developpement</h1>
            <p class="text-tests">Rejoignez-nous dans cette aventure passionnante de l'innovation, où notre dévouement et enthousiasme propulsent nos clients vers un succès sans précédent. Chez nous, chaque projet devient une opportunité de dépasser les attentes et de créer des expériences numériques mémorables. Bienvenue dans l'univers où la performance, la créativité et l'engagement définissent notre identité unique.</p>
        </div>
    </div>
  </div>
  <app-blackhole></app-blackhole>