.btn{
    z-index: 10000;
}
.m-3{
        height: 48px;
        width: 48px;
}
#appweb-small{
    margin-bottom: 8px !important;
}
.character{
    position: absolute;
   right: 5%;
   object-fit: contains;
}
.isTextTransparent{
    display: none;
}
@media(max-width:1000px){
    .character{
        height: 100px;
        width: 125px;
    }
}
#feature{
    transition: 1.5s;

}
section{
    overflow-x: hidden;
}