<header>
<div class="cover-container" #test>
    <div class="half-width">
      <img src="../../assets/img/illustrations/coder.webp" alt="Image 1">
      <div class="cover-title">
      </div>
    </div>
    <div class="half-width">
      <img src="../../assets/img/illustrations/coder1.webp" alt="Image 2">
    </div>
  </div>
  <div class="cover-title">
    <h1>BIENVENUE <br>CHEZ CSI BUSINESS</h1>
  </div>
  </header>
  <div class="presentation">
    <h1>Rencontrez l'équipe qui donne vie à vos idées</h1>
    <p class="text-center">Ce qui nous distingue réside dans notre utilisation de frameworks de pointe tels qu'Angular, qui nous permettent d'atteindre des performances exceptionnelles. Nos applications se démarquent par leur rapidité, leur réactivité et leur fluidité, offrant une expérience utilisateur sans égale. Nous ne nous contentons pas de créer des sites, nous forgeons des expériences digitales uniques, repoussant les limites de ce qui est technologiquement possible.</p>
  </div>
  <div class="presentation second">
    <h1 class="text-center">Notre Engagement envers la Perfection</h1>
    <p class="text-center">À nos yeux, livrer un produit sans le moindre défaut est impératif. Chaque création est minutieusement vérifiée, chaque détail soigneusement examiné pour atteindre la perfection. Avant le déploiement, une discussion approfondie et une analyse méticuleuse de votre site ou application web sont essentielles pour nous rapprocher au maximum de l'excellence. Votre satisfaction est notre priorité absolue, et tant que chaque détail ne sera pas parfait à nos yeux minutieux, nous resterons à votre entière disposition.</p>    
  </div>
    <div class="cover-little">
    <div class="slider">
      <app-blackhole></app-blackhole>
    </div>
  </div>
  <div class="end">
    <h1 class="text-center collab">Collaborez avec C S I</h1>
    <p class="text-center">Là où d'autres solutions peuvent atteindre leurs limites en termes de flexibilité, notre approche se distingue par une évolutivité constante. Nous concevons nos applications pour prospérer dans un environnement en constante mutation, nous assurant que nos clients bénéficient d'une technologie qui s'adapte et se développe avec eux.

      Choisir notre équipe, c'est choisir l'innovation, la performance et une approche résolument orientée vers l'avenir. 
   <br>   <button class="button text-center mx-auto" (click)="navigateTo('/contacts')">Contactez-nous</button>
    </p>
      <div class="container">
    <app-faq></app-faq>
    </div>
  </div>
  <app-footer></app-footer>