<header>
<div class="cover-container">
    <div class="half-width">
      <img src="../../assets/img/illustrations/coder.png" alt="Image 1">
      <div class="cover-title">
      </div>
    </div>
    <div class="half-width">
      <img src="../../assets/img/illustrations/coder1.png" alt="Image 2">
    </div>
  </div>
  <div class="cover-title">
    <h1>BIENVENUE CHEZ CSI BUSINESS</h1>
  </div>
  </header>
  <div class="presentation">
    <h1>INNOVATEURS EN CONCEPTION ET TECHNOLOGIE</h1>
    <p class="text-center">L'équipe Logitech G travaille à repousser les limites des performances de jeu et à explorer toutes les possibilités. Le monde du gaming est en constante évolution, c'est pourquoi nous nous donnons tous les moyens pour relever le défi. Grâce à une meilleure intégration des jeux et des équipements, nous facilitons la mise en place d'une expérience de gaming encore plus exceptionnelle. Du capteur gaming le plus précis, HERO, à notre technologie RVB pilotée par le jeu la plus immersive, LIGHTSYNC.</p>
  </div>
  <div class="cover-little">
    <div class="container">
        <div class="col">
            <h1>Une passion pour le developpement</h1>
            <p>Pour Logitech G, le gaming est un véritable mode de vie. Notre équipe collabore constamment avec les principaux développeurs de jeu pour s'assurer que nos équipements apportent une expérience gaming nouvelle et optimisée. Logitech G sponsorise également des centaines de professionnels, seuls ou en équipe, collaborant avec les compétiteurs eux-mêmes pour concevoir l'équipement le plus efficace possible.</p>
        </div>
    </div>
  </div>
  <app-blackhole></app-blackhole>