<header>
    <div class="container">
        <div class="row">
        <div class="col">
<h3>Solutions-web</h3>
<h1>CraftedWebSite</h1>
<h2>Élevez votre présence en ligne avec audace</h2>
<p>Plongez dans l'univers du web avec CSI, où chaque stratégie devient réalité. Notre expertise vous guide avec inventivité et efficacité dans le monde des applications web, fusionnant créativité et réalisme pour réinventer votre présence en ligne.</p>
<button class="button btn-sm px-0" type="button" (click)="scrollToElement()" >En savoir plus&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
</svg><br></button>
</div>
<div class="col">
  <picture>
    <source srcset="../../assets/img/illustrations/crafted.webp" type="image/webp">
    <source srcset="../../assets/img/illustrations/crafted.png" type="image/png">
<img src="../../assets/img/illustrations/crafted.webp"  height="350px" width="550px" alt="">
</picture>
</div>
</div>
</div>
</header>
<header class="second">
    <div class="container">
        <div class="row">
            <div class="col">
              <picture>
                <source srcset="../../assets/img/illustrations/engagement.webp" type="image/webp">
                <source srcset="../../assets/img/illustrations/engagement.png" type="image/png">
            <img src="../../assets/img/illustrations/engagement.webp"  height="350px" width="550px" alt="">
            </picture>
            </div>
        <div class="col">
<h2>Faites de CSI votre nouveau partenaire digital ‘Explorez le potentiel numérique’</h2>
<p>Les applications web que nous développons avec Angular transcendent les sites traditionnels, offrant une expérience utilisateur incomparable. Dans un monde en constante évolution, notre engagement envers l'excellence assure une performance optimale et une adaptabilité sans faille. Choisissez le professionnalisme et la croissance continue avec CSI, élevez votre présence en ligne aujourd'hui.</p>
<button class="button btn-sm px-0" type="button" routerLink="/about">En savoir plus&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
</svg><br></button>
</div>
</div>
</div>
</header>
<main [style.height]="mainHeight" #elementCible>
    <div class="container">
      <h2>Performance Excellente : Une Exécution Agile, Sûre et Élégante pour Votre Réussite Immédiate et Durable</h2>
      <div class="row">
        <div class="col">
          <p>
            Lorsque vous confiez la réalisation de votre première application web à notre équipe, un cahier des charges précis sera établi pour comprendre en détail vos attentes et besoins. Chaque élément sera méticuleusement pris en compte, et nous nous engageons à concrétiser toutes vos requêtes. De notre côté, nous nous efforcerons de nous adapter à vos exigences, fournissant des conseils avisés et vous accompagnant tout au long du processus.
<br>
<br>
L'intégration d'un backend offre une dimension supplémentaire à votre application web. En gros, cela implique l'ajout d'une couche de traitement côté serveur qui permet d'effectuer des opérations plus complexes, de gérer les données, et d'assurer la communication entre le frontend (partie visible par l'utilisateur) et la base de données.
Les avantages de l'intégration d'un backend incluent la possibilité de mettre en place des fonctionnalités avancées, la gestion efficace des données, la personnalisation des interactions, et la manipulation sécurisée des informations sensibles. Cela ouvre la porte à des opérations plus sophistiquées, telles que le traitement de paiements, la gestion d'utilisateurs, et d'autres opérations côté serveur.
<br>
<br>
Avec ces intégrations, votre application web se trouve dans un état d'évolution continue, permettant d'ajouter de nouvelles fonctionnalités, d'améliorer la performance, et de répondre de manière proactive aux besoins changeants de votre public.
<br> 
<br>
Explorez notre offre complète de services incluant la conception d'applications web, l'optimisation de performances, le référencement, l'accompagnement 24/7, et la sécurité en ligne. Avec CraftedWebSite, votre présence en ligne devient une expérience sophistiquée, sécurisée et évolutive.
Nous sommes là pour vous orienter, instaurer la confiance et vous guider à travers le vaste univers du web. Nos développeurs prendront ensuite en charge votre projet, et le déploiement de l'application n'interviendra qu'une fois que vous serez totalement satisfait. Par la suite, chaque mois, une nouvelle version de l'application web sera déployée en fonction de vos évolutions et besoins.
          </p>
        </div>
        <div [ngClass]="{'col': isScreenWidthAbove1000px, 'row': !isScreenWidthAbove1000px}">
          <ul>
            <li *ngFor="let item of businessStrategies">
              <details>
                <summary style="width: 100%;">{{ item.title }} <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                  </svg></summary>
                <p>{{ item.content }}</p>
              </details>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container end">
        <h1 class="text-center collab">Collaborez avec C S I</h1>
        <p class="text-center">Là où d'autres solutions peuvent atteindre leurs limites en termes de flexibilité, notre approche se distingue par une évolutivité constante. Nous concevons nos applications pour prospérer dans un environnement en constante mutation, nous assurant que nos clients bénéficient d'une technologie qui s'adapte et se développe avec eux.
    
          Choisir notre équipe, c'est choisir l'innovation, la performance et une approche résolument orientée vers l'avenir. 
       <br>   <button class="button text-center mx-auto" routerLink="/contacts">Contactez-nous</button>
        </p>
      </div>
  </main>
  
<app-footer></app-footer>