<header>
    <div class="container">
        <div class="row">
        <div class="col">
<h3>Solutions-web</h3>
<h1>ShowCaseHub</h1>
<h2>Délpoyez votre présence en ligne avec élégance</h2>
<p>Découvrez l'art de l'expression en ligne avec CSI. Nous créons des sites vitrines qui captivent, reflètent votre essence et séduisent votre audience. Choisissez CSI pour une présence digitale qui transcende les attentes.</p>
<button class="button btn-sm px-0" type="button" routerLink="/solutions-web">En savoir plus&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
</svg><br></button>
</div>
<div class="col">
    <img src="../../assets/img/illustrations/showcase.png" height="350px" width="550px" alt="">
</div>
</div>
</div>
</header>
<header class="second">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../../assets/img/illustrations/engagement1.png" height="350px" width="550px" alt="">
            </div>
        <div class="col">
<h2>Faites de CSI votre nouveau partenaire digital ‘Explorez le potentiel numérique’</h2>
<p>Nos sites vitrines vous offrent bien plus qu'une simple présence en ligne. Ils sont le reflet de votre professionnalisme et de votre engagement envers une expérience utilisateur exceptionnelle. Dans un monde numérique en constante évolution, choisissez CSI pour une présence en ligne qui allie élégance, fiabilité et croissance continue. Transformez votre image digitale dès aujourd'hui.</p>
<button class="button btn-sm px-0" type="button" routerLink="/solutions-web">En savoir plus&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
</svg><br></button>
</div>
</div>
</div>
</header>
<main [style.height]="mainHeight">
    <div class="container">
      <h2>Performance Excellente : Une Exécution Agile, Sûre et Élégante pour Votre Réussite Immédiate et Durable</h2>
      <div class="row">
        <div class="col">
          <p>
            Explorez la puissance d'une présence en ligne exceptionnelle avec notre service ShowCaseHub, dédié aux sites vitrines et à la conception web de qualité.
<br>
<br>
            Notre équipe se spécialise dans la création de Landing Pages percutantes, mettant l'accent sur un design UI/UX intuitif et adaptatif pour une expérience utilisateur optimale sur tous les supports. Nous n'oublions pas l'essentiel avec une optimisation rigoureuse des performances, garantissant une navigation fluide et rapide.
    <br>        
    <br>        
            Pour maximiser votre visibilité, notre expertise en référencement SEO assure une présence remarquée. Cela inclut un référencement naturel approfondi, une gestion experte de votre fiche Google My Business, et une amélioration continue avec l'indice de performance Google.
        <br>    
        <br>    
            Notre engagement envers le local ne se limite pas au virtuel. Nous vous accompagnons avec un support 24/7, des corrections rapides de bugs, un hébergement inclus pour plus de tranquillité, et des mises à jour régulières de sécurité et du contenu.
            <br>
            <br>
            Avec ShowCaseHub, votre site vitrine devient bien plus qu'une simple interface en ligne ; c'est une vitrine digitale qui témoigne de votre excellence. Faites confiance à notre équipe pour vous guider à chaque étape, de la conception initiale à l'évolution constante de votre présence en ligne. Transformez votre site vitrine avec ShowCaseHub et assurez-vous d'être toujours à la pointe de la performance digitale.
          </p>
        </div>
      
      </div>
    </div>
    <div class="container end">
        <h1 class="text-center collab">Collaborez avec C S I</h1>
        <p class="text-center">Là où d'autres solutions peuvent atteindre leurs limites en termes de flexibilité, notre approche se distingue par une évolutivité constante. Nous concevons nos applications pour prospérer dans un environnement en constante mutation, nous assurant que nos clients bénéficient d'une technologie qui s'adapte et se développe avec eux.
    
          Choisir notre équipe, c'est choisir l'innovation, la performance et une approche résolument orientée vers l'avenir. 
       <br>   <button class="button text-center mx-auto">Contactez-nous</button>
        </p>
      </div>
  </main>

  
<app-footer></app-footer>