header{
    padding-top:100px;
    background-color: #1d2930;
    h1{
        font-size: 32px;
        font-weight: bold; margin-top: 20px;
        margin-bottom: 20px;
        color: #2ec4f4;
    }
    h2{
        color: white;
        font-size: 26px;
    }
    h3{
        color: #00e7a7;
        font-size: 22px;
    }
    p{
        color: aliceblue !important;
        font-size: 18px;
    }
    img{
        margin-bottom: 28px;
    }
}
.button{
    margin-bottom: 15px;
    background-color: #2ec4f4  !important;
    box-shadow: rgba(31, 255, 255, 0.1) 0px 34px 35px, rgba(1, 215, 243, 0.3) 0px -8px 15px, rgba(0, 196, 231, 0.12) 0px 4px 6px, rgba(0, 158, 231, 0.17) 0px 8px 9px, rgba(1, 149, 235, 0.09) 0px -3px 5px;
    width: 125px;
}
.button:hover{
    background-color:#1d7694  !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
.second{
    background-image: none;
    background-color: #f8f8f8;
    h2{
        color: black;
    }
    h3{
        color: black;
    }
    p{
        color: black !important;
    }
}
main{
    h2{
        color: rgba(46, 196, 244);
        margin-bottom: 25px;
    }
    height: 550px;
    padding-top: 100px;
    background-color: #1d2930;
    color: white;
    li{
        color: #5f8b9d;
        background-color: #f8f8f8;
        margin: 5px;
        padding: 8px;
       font-weight: bold;
          
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
          svg {
            color: #00e7a7;
            cursor: pointer;
            margin-left: auto;
          }
          p{
            color: #1d2930;
            font-weight: 500;
            padding: 8px;
            background-color: rgba(248, 248, 248);
          }
    }
    ul {
        list-style: none;
        padding: 0;
      }
  
}
.end{
    background-color:rgba(15, 30, 44, 0.3);
    color: white;
   padding-bottom: 25px;
    p{
      padding: 10px;
    }
    h1{
      font-weight: bolder;
      color: whitesmoke;
    }
    button{
      margin: auto;
      margin-top: 20px;
      width: fit-content !important;
    }
  }
  @media(max-width:500px) {
    img{
        height:250px;
         width:98vw;
    }
}