
#appweb{
    background: linear-gradient(0deg, rgba(2, 99, 82, 0.05) 0%, rgba(84, 94, 161, 0.18) 100%);
  color: black !important;
}

*{
  a{
    text-decoration: none;
  }
}
.btn-sm{
padding-left: 5px !important;
}
  .bs-icon-lg{
    width: 64px;
    height: 64px;
    border-radius: 8px;
    svg{
      height: 32px;
      width: 32px;
    }
  }
.logo{
  opacity: 0.8;
  height: 20px !important;
  width: 20px !important;
}
@media(max-width:800px){
  .parallax2{
    height: 100vh;
  }
  @supports (background-image: url('../../assets/img/illustrations/fondmobile-min.webp')) {
    header {
      background-image: url('../../assets/img/illustrations/fondmobile-min.webp');
    }
  }
  
  /* Utilisation de PNG si WebP n'est pas supporté */
  @supports not (background-image: url('../../assets/img/illustrations/fondmobile-min.webp')) {
    header {
      background-image: url('../../assets/img/illustrations/fondmobile-min.png');
    }
  }
} 


 
  @media (max-width: 800px) {
    img{
      height: 350px !important;
      width: 350px !important;
    }
  }
