<div class="parallax parallax1">
    <h1 class="text-center">CraftedWebSite</h1>
    <h4 class="text-center fw-bold">Applications Web - Puissance et Adaptabilité</h4>
  <div class="state">
    <h1>Performance</h1>
    <p>LLabore rerum soluta non aut neque doloreicta assumenda tempore culpa, dignissimos officiis numquam amet aspernatur! Unde.</p>
  </div>
  <div class="state">
    <h2>Efficacité</h2>
    <p>Necessitatibus delectus sequi nisi qui nostrum! Impestiae veritatis tenetur optio quod vero laudantium officia ab.</p>
  </div>
  <div class="state">
    <h3>Réactivité</h3>
    <p>temporibus praesentium quas consequuntur repellat facere nisi, exercitationem aliquid eius!</p>
  </div>
  <img width="800px" height="400px" src="../../assets/img/illustrations/template.png" alt="">
</div>

<div class="parallax parallax2">
    <h1 class="text-center">ShowCaseHub</h1>
    <h4 class="text-center fw-bold">Site Vitrine - Impact Visuel, Coût Abordable</h4>
  <div class="state">
    <h1>Performance</h1>
    <p>LLabore rerum soluta non aut neque doloreicta assumenda tempore culpa, dignissimos officiis numquam amet aspernatur! Unde.</p>
  </div>
  <div class="state">
    <h2>Efficacité</h2>
    <p>Necessitatibus delectus sequi nisi qui nostrum! Impestiae veritatis tenetur optio quod vero laudantium officia ab.</p>
  </div>
  <div class="state">
    <h3>Réactivité</h3>
    <p>temporibus praesentium quas consequuntur repellat facere nisi, exercitationem aliquid eius!</p>
  </div>
  <img width="800px" height="400px" src="../../assets/img/illustrations/template1.png" alt="">
</div>
<div class="parallax parallax3">
    <h1 class="text-center">CommerceDigitalXcellence</h1>
    <h4 class="text-center fw-bold">E-commerce - Vendez en Ligne avec Style</h4>
  <div class="state">
    <h1>Performance</h1>
    <p>LLabore rerum soluta non aut neque doloreicta assumenda tempore culpa, dignissimos officiis numquam amet aspernatur! Unde.</p>
  </div>
  <div class="state">
    <h2>Efficacité</h2>
    <p>Necessitatibus delectus sequi nisi qui nostrum! Impestiae veritatis tenetur optio quod vero laudantium officia ab.</p>
  </div>
  <div class="state">
    <h3>Réactivité</h3>
    <p>temporibus praesentium quas consequuntur repellat facere nisi, exercitationem aliquid eius!</p>
  </div>
  <img width="380px" height="650px" src="../../assets/img/illustrations/template2.jpg" alt="">
</div>