.parallax {
    height: 100vh;
    background-attachment: fixed;
    animation: fadeIn forwards 0.5s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
    img{
        position: relative;
        margin: auto;
        margin-left: 3%;

        border-radius: 13px !important;
    }
    overflow: hidden;
  }

  li{
    margin-top: 15px;
  }
  p,li{
    font-size: 18px;
    letter-spacing: 1px;
  }
  .test{
    display: flex;
    padding-top: 150px;
  }
  #scroll{
    height: 50px;
    width: 50px;
    color: #00e7a7;
    font-weight: bold;
    border: #00e7a7 2px solid;
    font-size: 20px;
position: relative;
box-shadow: rgba(0, 231, 167, 0.1) 0px 34px 35px, rgba(0, 231, 167, 0.3) 0px -8px 15px, rgba(0, 231, 167, 0.12) 0px 4px 6px, rgba(0, 231, 167, 0.17) 0px 8px 9px, rgba(0, 231, 167, 0.09) 0px -3px 5px !important;
margin: auto;
left: 50%;
    border-radius: 100%;
    background-color: transparent;
  }
  .scrollTop{
    top: 50px;
    transform: rotate(180deg);
  }
  .material-symbols-outlined{
    position: relative;
    top:8%;
  }

  #scroll:hover{
    background-color: rgba(6, 245, 177,0.4);
    color: white !important;
  }
  @supports (background-image: url('../../assets/img/illustrations/services2.webp')) {
    .parallax3 {
      background-size: cover;
      background-image: url('../../assets/img/illustrations/services2.png');
    }
  }
  
  @supports not (background-image: url('../../assets/img/illustrations/services2.webp')) {
    .parallax3 {
      background-image: url('../../assets/img/illustrations/services2.png');
    }
  }
  @supports (background-image: url('../../assets/img/illustrations/services.webp')) {
    .parallax2 {
      background-size: cover;
      background-image: url('../../assets/img/illustrations/services5.png');
    }
  }
  
  @supports not (background-image: url('../../assets/img/illustrations/services.webp')) {
    .parallax2 {
      background-image: url('../../assets/img/illustrations/services.png');
    }
  }
  @supports (background-image: url('../../assets/img/illustrations/services1.webp')) {
    .parallax1 {
      background-size: cover;
      background-image: url('../../assets/img/illustrations/services1.webp');
    }
  }
  
  @supports not (background-image: url('../../assets/img/illustrations/services1.webp')) {
    .parallax1 {
      background-image: url('../../assets/img/illustrations/services1.png');
    }
  }
  .h2{
    margin-top: 50px;
  }
  .title,h5{
    margin-left: 150px;
  }
  p{
    font-weight: 500;
  }
  .container-fluid{
    display:flex;
  }
  span,h2,h3,h4{
    padding-bottom: 10px;
    color: #00e7a7 !important;
  }
.card-body{
    width: 400px !important;
    p{
        width: 400px;
    }
    color: white !important;
    background: transparent;
}
.card{
    position: absolute;
    top: 150px;
    width: 700px;
    background: linear-gradient(0deg, rgba(2, 99, 82, 0.05) 0%, rgba(84, 94, 161, 0.18) 100%) !important;

}
.state{
    margin-top: 50px;
    margin-left: 150px;
    width: 400px;
}



@media(max-width:1350px){
    img{
       display: none;
    }
}
@media(max-width:800px) {
    .test{
        display: grid;
    }
    .state{
        margin-left: 0px;
    }
    .state{
        width: 300px !important;
    }
    
}