<div class="parallax parallax1">
    <div class="test fade-in" >
        <div>
    <h1 class="title">CraftedWebSite</h1>
    <h5 class=" fw-bold">Applications Web - Puissance et Adaptabilité</h5>
  <div class="state">
    <h2>Personnalisation Totale</h2>
    <p>Chaque application est minutieusement orchestrée pour répondre à vos besoins spécifiques</p>
  </div>
  <div class="state">
    <h3>Technologie Avancée</h3>
    <p> Angular offre une base solide pour des fonctionnalités avancées et une expérience utilisateur exceptionnelle</p>
  </div>
  <div class="state">
    <h4>Innovation Continue</h4>
    <p>Restez en avance sur la concurrence avec des applications web évolutives et à la pointe de la technologie</p>
  </div>
  </div>
  <img width="800px" height="400px" src="../../assets/img/illustrations/template1.png" alt="">
  <div class="col"  style="margin: 50px;">
    <ul>
      <li><h4>- Navigation fluide</h4> Optez pour une navigation sans rafraîchissement de page, offrant une expérience utilisateur plus fluide et rapide.</li>
      <li>Conception réactive pour une expérience uniforme sur tous les appareils et tailles d'écrans.</li>
      <li><h4>- Interactivité dynamique</h4> Intégrez des éléments interactifs pour engager davantage les visiteurs.</li>
      <li>Suivi avancé des interactions pour des recommandations ciblées.</li>
    </ul>
  </div>
  </div>
  <button (click)="scrollDown()" id="scroll"><span class="material-symbols-outlined">
arrow_downward
</span></button>
</div>

<div class="parallax parallax2">
  <button (click)="scrollTop()" class="scrollTop" id="scroll" style="top: 46px;"><span class="material-symbols-outlined">
    arrow_downward
    </span></button>
    <div class="test">
        <div>
    <h1 class="title">ShowCaseHub</h1>
    <h5 class=" fw-bold">Site Vitrine - Impact Visuel, Coût Abordable</h5>
  <div class="state">
    <h2>Design Élégant</h2>
    <p>Des designs épurés et élégants qui captent l'essence de votre entreprise</p>
  </div>
  <div class="state">
    <h3>Rapidité de Mise en Place </h3>
    <p> Obtenez votre présence en ligne rapidement sans compromettre la qualité</p>
  </div>
  <div class="state">
    <h4>Adapté aux Petites Entreprises</h4>
    <p>Parfait pour les petites entreprises cherchant une solution abordable et efficace</p>
  </div>
  </div>
  <img width="700px" height="350px" src="../../assets/img/illustrations/template.png" alt="">
  <div class="state">
    <h3>Du Site Vitrine à l'Expérience Web Évoluée</h3>
    <p>Explorez la transformation de votre simple site vitrine vers une expérience web avancée, sans limites. Découvrez des fonctionnalités améliorées et une interactivité accrue</p>
  </div>
  </div>
  <button (click)="scrollDown()" id="scroll"><span class="material-symbols-outlined">
    arrow_downward
    </span></button>
</div>
<div class="parallax parallax3"  (wheel)="scrollParallax($event, 3)">
    <div class="test">
        <div>
    <h1 class="title">CommerceDigitalXcellence</h1>
    <h5 class="fw-bold">E-commerce - Vendez en Ligne avec Style</h5>
  <div class="state">
    <h2>Conception Intuitive</h2>
    <p>Interface utilisateur conviviale pour une expérience d'achat sans tracas</p>
  </div>
  <div class="state">
    <h3>Performance Maximale</h3>
    <p>Utilisation de technologies modernes pour une navigation rapide et une gestion simplifiée des produits</p>
  </div>
  <div class="state">
    <h4>Sécurité Renforcée</h4>
    <p>Protégez vos clients avec des solutions e-commerce sécurisées</p>
    </div>
    </div>
    <img width="380px" height="550px" src="../../assets/img/illustrations/template2.jpg" alt="">
     <div class="state">
    <h3>Du Site Vitrine à l'Expérience Web Évoluée</h3>
    <p>Explorez la transformation de votre simple site vitrine vers une expérience web avancée, sans limites. Découvrez des fonctionnalités améliorées et une interactivité accrue</p>
  </div>
    </div>
    <button (click)="scrollTop()" class="scrollTop" id="scroll" style="top: 46px;"><span class="material-symbols-outlined">
      arrow_downward
      </span></button>

  </div>