.bg-3 {
 background-image: url('../../assets/img/illustrations/services2.png');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 img{
  width:50vw;
  height:30vw;
border-radius: 13px;
}
}
.bg-4{
  img{
    display: none;
  }
}
.bg-4,.bg-5{
  background-image: url('../../assets/img/illustrations/services1.png');
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  h4{
    width: 320px;
  }
  img{
    bottom: 60px;
      position: relative;
      width:50vw;
      height:30vw;
      border-radius: 13px;
    }
}


.bg-1{
img{
    display: none;
  }
  h1{
    padding-top: 50px;
  }
}

.bg-1,.bg-2 {
  img{
    bottom: 50px;
      position: relative;
      width:50vw;
  height:30vw;
      border-radius: 13px;
    }
  p{
    text-shadow: 2px 2px 1px black;
  }
  h4{
    text-shadow: 2px 2px 1px black;
  }
  h6{
    font-size: 18px;
  }
  
  background-attachment: fixed;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  .down{
    svg{
      color:#cf3ab5 !important;
    }
    svg:hover{
      background-color:rgba(207, 58, 181,0.8);
    }
  }
  background-image: url('../../assets/img/illustrations/services5.webp');
  background-size: cover;
  h4{
    color: #cf3ab5 !important;
  }
  img{
    border-radius: 13px;
  }
}
.title{
 // padding-top: 5%;
color: white;
}

p{
  font-size: 12px;
  letter-spacing: 1px;
}
span,h4,h6{
  color: #00e7a7 !important;
}
.page-content {
  p{
    font-weight: 500;
  }
  
  text-align: justify;
  color: white;


  position: absolute;
  transition: all 0.5s 0.3s;
}
.page-content.show {
  opacity: 1;
}

button{
  display: none;
}
svg{
  margin: 4px;
  color: white !important;
}
.test{
  display: flex;
}
.down{
  display: grid;
  margin: 4px;
  color: white !important;
  svg{
    font-weight: bold;
    cursor: pointer;
    color: #00e7a7 !important;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  svg:hover{
    background-color: rgba(11, 122, 91, 0.8);
    color: white;
  }
}
section{
border-radius: 18px !important;
}
.right{
  h4{
    text-align: right;
  }
}

@media(max-width:800px) {
  .state{
    margin-bottom: 0px;
  }
  .page-content{
    padding-top: 5px;
    margin-top: 0;
  }
  .title{
  padding-top: 0.5%;
  color: white;
  }
  .test{
    p{
      width: 320px;
    } 
    img{
      width: 50% !important;
      height: 50% !important;
    }
    h2,h3,h5{
      width: 80%;
    }
    width: 100vw;
    display: block;
  }
}