<body>

    <h1>Mentions Légales</h1>

    <h2>1. Informations légales :</h2>
    <p>Responsable du site : CSI BUSINESS</p>
    <p>Adresse : Bur B1 Résidence El Mouna Rue du Lac Malaren 1053 - Les Berges du Lac</p>
    <p>Téléphone : +33 7 61 50 95 32</p>
    <p>E-mail : <a href="mailto:csibusiness.secretariat@gmail.com">csibusiness.secretariat&#64;gmail.com</a></p>

    <h3>2. Finalité de la collecte des données :</h3>
    <p>Les données collectées via le formulaire de contact sont utilisées exclusivement dans le but de répondre aux demandes des utilisateurs et de faciliter la communication.</p>

    <h3>3. Données collectées :</h3>
    <p>Les informations collectées peuvent inclure, mais ne sont pas limitées à, [liste des données collectées, par exemple : nom, adresse e-mail, numéro de téléphone].</p>

    <h3>4. Conservation des données :</h3>
    <p>Les données ne sont pas conservées dans une base de données. Elles sont transmises par e-mail.</p>

    <h3>5. Sécurité des données :</h3>
    <p>Nous mettons en place des mesures de sécurité pour protéger vos données pendant la transmission par e-mail.</p>

    <h3>6. Communication des données :</h3>
    <p>Les données collectées ne seront pas partagées, vendues ou transmises à des tiers sans votre consentement explicite, sauf si requis par la loi.</p>

    <h3>7. Droits de l'utilisateur :</h3>
    <p>Vous avez le droit d'accéder, de rectifier, de supprimer ou de vous opposer au traitement de vos données. Pour exercer ces droits, veuillez nous contacter via les coordonnées fournies ci-dessus.</p>

    <h3>8. Consentement :</h3>
    <p>En soumettant le formulaire de contact, vous consentez à la collecte et au traitement de vos données conformément aux termes mentionnés dans ces mentions légales.</p>

    <h3>9. Coordonnées de contact :</h3>
    <p>Pour toute question ou demande relative à vos données personnelles, veuillez nous contacter aux coordonnées fournies ci-dessus.</p>
</body>
<app-footer></app-footer>
