@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Spice&display=swap');
.btn{
    background: #00e7a7 !important;
    color: white !important;
    border-radius: 999px;
   // box-shadow: #026352 0 10px 20px -10px;
}
.icon-sun-tabler{
    background: #026352;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(2, 99, 82, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
a{
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 12px;
}
.navbar{
    img{
        height: 50px;
        width: 120px;
    }
}
.navbar-nav{
    img{
        height: 50px;
        width: 120px;
    }
a:hover{
    background: rgba($color: #026352, $alpha: 0.3);
    border-radius: 3px;
    color: white;
    border: 1px solid #00e7a7;
}
}
html{
    background: #d9f7fe;
}
body{
    background-color: #d9f7fe;
    overflow-x: hidden;
}

.navbar-toggler{
    border-color: transparent;
}

.btn-close{
    box-shadow: rgba(0, 231, 167, 0.25) 0px 30px 60px -12px inset, rgba(0, 231, 167, 0.3) 0px 18px 36px -18px inset;
}
.transparent-navbar {
    background: transparent !important;
    transition: background-color 0.5s ease;
  }
  .colored-navbar {
    background-color: #d9f7fe!important; 
    transition: background-color 0.5s ease;
    .active{
        color:#026352 !important;
    }
  }
  .offcanvas{
    border: 2.5px solid #00e7a7;
    border-radius: 15px;
  }

.navbar-toggler{
    outline: none !important;
    box-shadow: none !important;
}
  .active {
    color: #026352!important;
    font-weight: bold;
  }
  
  footer{
    a{color: #3f4a4d !important;
    font-weight: normal;}
  }

@media (max-width:800px){
    nav{
        li{
        border-top: 2px solid #026352;
        font-weight: 300;
        }
        li:hover{
            transition: ease 0.5s;
        }
    }

} 
.active {
    color: #026352!important;
    font-weight: bold;
  }
