.btn{
    background: #026352 !important;
    border: 1px solid #026352;
    color: white;
}
.icon-sun-tabler{
    background: #026352;
}
html{
    background: #d9f7fe;
}
body{
    background-color: #d9f7fe;
}
.active {
    color: #026352!important;
  }
  .navbar-brand{span{
    color: white !important;
    background: #026352;
    width: 130px;
    text-align: center;
    padding: 4px;
    border: 4px solid rgba($color: white, $alpha: 0.9);
    letter-spacing: 8px;
    font-weight: bold;
    font-size: 20px;
  }
  
}