@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Spice&display=swap');
.btn{
    background: #00e7a7 !important;
    color: white !important;
    border-radius: 999px;
    box-shadow: #026352 0 10px 20px -10px;
}
.icon-sun-tabler{
    background: #026352;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(2, 99, 82, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
a{
    font-weight: 500;
    letter-spacing: 0.2px;
    color: white !important;
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
}
a:hover{
    color: #00e7a7 !important;
}
.navbar{
    img{
    width:96px;
    height: 40px;
    margin-top: 4.5px;
        background: #00e7a7;
        box-shadow:  rgba(0, 231, 167, 0.4) 0px 5px 7.5px, rgba(0, 231, 167, 0.8) 0px -4px 7px, rgba(0, 231, 167, 0.5) 0px 2px 3px, rgba(0, 231, 167, 0.5) 0px 4px 5px, rgba(0, 231, 167, 0.4) 0px -2px 3px !important;
    }

}

html{
    background: #d9f7fe;
}
body{
    background-color: #d9f7fe;
    overflow: hidden;
}



.btn-close{
    box-shadow: rgba(0, 231, 167, 0.25) 0px 30px 60px -12px inset, rgba(0, 231, 167, 0.3) 0px 18px 36px -18px inset;
}
.transparent-navbar {
    background: transparent !important;
    transition: background-color 0.5s ease;
  }
  .colored-navbar {
    background-color: #d9f7fe!important; 
    transition: background-color 0.5s ease;

  }
  .flex-row{
    .active{
        text-decoration: underline !important;
        text-decoration-thickness: 2px;
        text-decoration-skip-ink: none;
        }
  }
  .flex-row{
  a{ margin-left: 55px;}
  }

  .flex-row:hover{
padding: 0 !important;
  }
  .offcanvas{
    background: rgba(33, 37, 41, 0.8);
    a:hover{
        
        background: rgba($color: #026352, $alpha: 0.3);
        border-radius: 3px;
        color: white;
        border: 1px solid #00e7a7;
    }
    border: 2.5px solid #00e7a7;
    border-radius: 15px;
  }
 
 
.navbar-toggler{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    opacity: 0;
}
  .active {
    color:white !important;
    font-weight: bold;
    text-underline-offset: 30px;
    text-shadow: none !important;
  }

  .active:hover{
    color:#00e7a7;
    text-shadow: 1px 1px 2px black !important;
  }
  .button{
    .active{
        color: white !important;
    }
  }
  
  footer{
    background-color: #1d2930;
    h3{
        color: #00e7a7 !important;
    }
    a,p{color: white !important;
        text-shadow: none !important;
    font-weight: normal !important;
span{
    text-transform: lowercase !important;
}}
a:hover{
    color: #00e7a7 !important;
}
  }

@media (max-width:800px){
    nav{
        li{
        border-top: 2px solid #026352;
        font-weight: 300;
        }
        li:hover{
            transition: ease 0.5s;
        }
    }
    .flex-row{
        display: none;
    }
    .navbar-toggler{
        opacity: 1;
    }

} 
