<div class="body">
<app-scene></app-scene>
<body>
  <nav class="navbar navbar-dark fixed-top" [ngClass]="{'scrolled': isScrolled}">
    <div class="container-fluid">
      <ul class="navbar-nav flex-row  me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="home" (click)="navigateTo('/home')" routerLinkActive="active">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="solutions-web"  routerLinkActive="active">Solutions Web</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about" (click)="navigateTo('/about')"routerLinkActive="active">Qui Nous Sommes</a></li>
      </ul>

      <div class="brand text-center flex-fill">
        <a class="navbar-brand" routerLink="home">
          <picture>
            <source srcset="../assets/img/illustrations/logo.png" type="image/png">
            <img src="../assets/img/illustrations/logo.png" alt="Logo">
          </picture>
        </a>
        </div>
  
      <ul class="navbar-nav flex-row contact">
        <li class="nav-item"><a class="nav-link button" routerLink="contacts" (click)="navigateTo('/contacts')">Contact</a></li>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
  
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Liens supplémentaires toujours visibles en ligne -->
  
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
            <picture>
              <img src="../assets/img/illustrations/logo.png" alt="Logo">
            </picture>
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" data-bs-toggle="offcanvas" data-bs-target="offcanvas-body">
          <ul class="navbar-nav">
            <!-- Liens supplémentaires dans le offcanvas en ligne -->
            <li class="nav-item"><a class="nav-link" routerLink="home"  (click)="navigateTo('')" routerLinkActive="active">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="integrations" (click)="navigateTo('/integrations')" routerLinkActive="active">Solutions Web</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about"  routerLinkActive="active">Qui Nous Sommes</a></li>
           <li class="nav-item"><a class="nav-link button" routerLink="contacts"  (click)="navigateTo('/contacts')">Contact</a></li>
         
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
        
      </div>
    </div>
  </nav>
<router-outlet (activate)="onactivate($event)"></router-outlet>

  </body>
  </div>