.card{
    border-radius: 13px !important;
    transition: all 0.3s ease-in-out;
    
}
.container{
    background: transparent;
}
h6{
    font-weight: bold;
}
li{
    padding-bottom: 5px;
}
.card {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin: 3px;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, rgba(0, 231, 167, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    opacity: 1; 
    transition: opacity 0.3s ease-in-out;
  }
  
  .card:hover::before{
    opacity: 0;
  }