.card{
  border-radius: 20px;
  padding: 3px;
}
.bg{
  width: 468px;
  height: 800px;
  margin-top: 5px !important;
  background-color:#4C00E8;
  border-color:#4C00E8;
}
.bg, .bg-1, .bg-2{
  margin-top: 150px;
  margin-bottom: 100px;

  width: 468px;
}
.container-fluid{
  display: flex !important;
}

.bg-1{
  height: 900px;
  background-color: #E81748;
  border-color:#E81748;
}
.bg-2{
  height: 925px;
  background-color: #34695A;
  border-color: #34695A;
  margin-top: 30px;
}
svg{
  fill: #00e7a7;
}
button{
  width: 60% !important;
}
span{
  color: white;
}