<div class="container-fluid">
    <div *ngFor="let service of services" class="card text-white" [ngClass]="{'bg-1': service.bgClass === '1', 'bg-2': service.bgClass === '2', 'bg': service.bgClass}">
        <div class="card-body p-4">
            <div class="d-flex justify-content-between">
                <div>
                    <h3 class="fw-bold text-white mb-0 text-decoration-underline">{{ service.title }}</h3>
                    <p>{{ service.subtitle }}</p>
                </div>
                <div *ngIf="service.bestValue">
                    <span class="badge rounded-pill bg-primary text-uppercase bg-semi-white">Best Value</span>
                </div>
            </div>
            <div>
                <h5>{{ service.designTitle }}</h5>
                <ul class="list-unstyled">
                    <li *ngFor="let feature of service.designFeatures" class="d-flex mb-2">
                        <span class="bs-icon-xs bs-icon-rounded bs-icon-semi-white bs-icon bs-icon-xs me-2">
                            <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                            </svg>
                        </span>
                        <span>{{ feature }}</span>
                    </li>
                </ul>
                <h5>{{ service.seoTitle }}</h5>
                <ul class="list-unstyled">
                    <li *ngFor="let feature of service.seoFeatures" class="d-flex mb-2">
                        <span class="bs-icon-xs bs-icon-rounded bs-icon-semi-white bs-icon bs-icon-xs me-2">
                            <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                            </svg>
                        </span>
                        <span>{{ feature }}</span>
                    </li>
                </ul>
                <h5>{{ service.supportTitle }}</h5>
                <ul class="list-unstyled">
                    <li *ngFor="let feature of service.supportFeatures" class="d-flex mb-2">
                        <span class="bs-icon-xs bs-icon-rounded bs-icon-semi-white bs-icon bs-icon-xs me-2">
                            <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                            </svg>
                        </span>
                        <span>{{ feature }}</span>
                    </li>
                </ul>
                <h5>{{ service.securityTitle }}</h5>
                <ul class="list-unstyled">
                    <li *ngFor="let feature of service.securityFeatures" class="d-flex mb-2">
                        <span class="bs-icon-xs bs-icon-rounded bs-icon-semi-white bs-icon bs-icon-xs me-2">
                            <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                            </svg>
                        </span>
                        <span>{{ feature }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <button style="margin-bottom: 20px;" class="button btn-sm px-0" type="button" routerLink="/features">En savoir plus&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" style="fill: white !important;" viewBox="0 0 16 16" class="bi bi-arrow-right">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
        </svg><br></button>
    </div>
</div>
