<div class="parent-container overflow-hidden">
  <div #page *ngFor="let page of [0, 1, 2];" [class]="'vh-100 p-3 position-relative bg-' + (page + 1)">
    <div class="page-content">
      <div class="parallax parallax{{ page + 1 }}">
        <div class="test">
          <div>
            <h1 class="title">{{ sections[page].title }}</h1>
            <h5 class="fw-bold">{{ sections[page].subtitle }}</h5>
            <div *ngFor="let content of sections[page].content" class="state">
              <h3>{{ content.heading }}</h3>
              <p>{{ content.description }}</p>
            </div>
          </div>
          <img [src]="sections[page].imageUrl" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="nav">
    <button #prev class="btn btn-sm btn-light me-1" (click)="clickPrev()">prev</button>
    <button #next class="btn btn-sm btn-light" (click)="clickNext()">next</button>
  </div>
</div>