
.bg-3 {
  background-image: url('../../assets/img/illustrations/services1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  img:hover{
    transform: scale(1.1);
    transition: transform ease-in-out 0.3s;
    border: #00e7a7 2px solid;
    box-shadow: 0 10px 10px -5px #00e7a7;
    filter: brightness(105%) !important;
  }
}
img{
  margin-top: 10px;
  transition: all ease-in-out 0.3s;
}
.bg-2 {

  background-image: url('../../assets/img/illustrations/services2.png');
  background-repeat: no-repeat;
  background-size: cover;
  img:hover{
    transform: scale(1.1);
    transition: transform ease-in-out 0.3s;
    border: #2ec4f4 2px solid;
    box-shadow: 0 10px 10px -5px #2ec4f4;
  }
  .down{
    svg{
      color:#2ec4f4  !important;
    }
    svg:hover{
      background-color:rgba(46, 196, 244, 0.3);
    }
  }
  img{
    margin-left:15% !important;
    border-radius: 13px;
  }
  h4{
    color: #2ec4f4 !important;
  }
}


.bg-1 {
  animation: fadeIn  forwards 1s;
  img:hover{
    transform: scale(1.1);
    transition: transform ease-in-out 0.3s;
    border: #cf3ab5 2px solid;
    box-shadow: 0 10px 10px -5px #cf3ab5;
  }
  .down{
    svg{
      color:#cf3ab5 !important;
    }
    svg:hover{
      background-color:rgba(207, 58, 181,0.8);
    }
  }
  background-image: url('../../assets/img/illustrations/services5.webp');
  background-repeat: no-repeat;
  background-size: cover;
  h4{
    color: #cf3ab5 !important;
  }
  img{
    border-radius: 13px;
  
  }
}
.title{
  padding-top: 5%;
color: white;
}

p,li{
  font-size: 14px;
  letter-spacing: 1px;
}
span,h4,h6{
  color: #00e7a7 !important;
}
.state{
  margin-top: 30px;
  margin-left: 10%;
}
.page-content {
  p{
    font-weight: 500;
    width:500px;
  }
  img{
    margin-left:100px;
    width:33vw;
    height:20vw;
    border-radius: 13px;
  }
  img:hover{
    filter: brightness(150%);
  }
  text-align: justify;
  color: white;

  height: 100vh;
  
  position:relative;
  opacity: 0;
  transition: all 0.5s 0.3s;
}
.page-content.show {
  opacity: 1;
}
.parent-container {

  height: 100vh;
}
button{
  display: none;
}
svg{
  margin: 4px;
  color: white !important;
}
.test{
  display: flex;
}
.down{
  display: grid;
  margin: 4px;
  color: white !important;
  svg{
    font-weight: bold;
    cursor: pointer;
    color: #00e7a7 !important;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  svg:hover{
    background-color: rgba(11, 122, 91, 0.8);
    color: white;
  }
}
section{
border-radius: 18px !important;
}
.right{
  padding-left: 3%;
  h4{
    text-align: right;
  }
}

@media(max-width:800px) {

  .page-content{
    margin-top: 0;
  }
  .test{
    p{
      width: 300px;
    } 
    img{
      width: 50% !important;
      height: 50% !important;
    }
    h2,h3,h5{
      width: 80%;
    }
    width: 100vw;
    display: block;
  }

}
@media (max-width:1800px) {
  .right{
    display: none;
  }
}