body{
    background-color: #d9f7fe;
}
#appweb{
    background: linear-gradient(0deg, rgba(2, 99, 82, 0.05) 0%, rgba(84, 94, 161, 0.18) 100%);
    p{
        color: rgb(255, 255, 255);
    }
}
#bg-icon{
    background-color: transparent !important;
}
.underline {
    position: relative;
    display: inline-block;
  }
  
.underline::after {
    content: "";
position: absolute;
bottom: -2px;
left: 0;
width: 100%;
height: 8px;
z-index: 0;
border-radius: 5px;
background-color: rgba(2, 99, 82, 0.125)
  }
 span {
    color:rgba(2, 99, 82, 1) !important;
  }
  .btn{
    background-color: rgba(2, 99, 82, 1);
    border: 1px solid rgba(2, 99, 82, 1);
    color: white;
  }
  .btn:hover{
    background-color: rgb(0, 56, 46);
    border: 1px solid rgba(0, 56, 46);
    color: white !important;
  }
html, body { height: 100%;
  scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  text-decoration: none !important;
}
.btn{
  background: #026352 !important;
  border: 1px solid #026352;
  color: white;
}
.icon-sun-tabler{
  background: #026352;
}
a{
  text-transform: uppercase;
  padding-left: 10px;
  font-weight: bold;
  font-size: 14px;

}
.navbar{
  img{
      height: 50px;
      width: 120px;
  }
}
.navbar-nav{
  img{
      height: 50px;
      width: 120px;
  }
a:hover{
  background: rgba($color: #026352, $alpha: 0.3);
  border-radius: 3px;
  color: #026352;
}
}


.active {
  color: #026352!important;
  font-weight: bold;
}

  .navbar-toggler-icon{
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(2, 99, 82, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.navbar-toggler{
  border-color: transparent;
}

.transparent-navbar {
  background: transparent !important;
  transition: background-color 0.5s ease;
}


.colored-navbar {
  background-color: #95aeb4 !important; 
  transition: background-color 0.5s ease;
}
.button {
  background: #026352;
  border-radius: 999px;
  box-shadow: #026352 0 10px 20px -10px;
 box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: auto;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: 0.7s ease-in-out;
}
.button:hover, .btn{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3s ease-in-out;
}
@media (max-width:800px){
  nav{
      li{
      background-color: rgba($color: #95aeb4, $alpha: 0.3)!important;
      border-top: 2px solid #3f4a4d;
      padding: 4px;
      font-weight: 300;
      }
      li:hover{
          background-color: #d9f7fe !important;
          transition: ease 0.5s;
      }
  }
} 