@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Spice&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@400;700&display=swap');
body{
 
    background-color: #d3f6fd;
}
#appweb{
    background: linear-gradient(0deg, rgba(2, 99, 82, 0.05) 0%, rgba(84, 94, 161, 0.18) 100%);
  
}
#bg-icon{
    background-color: transparent !important;
}
  .btn{
    background-color:  #00e7a7;
    border: 1px solid #00e7a7;
    color: white;
  }
  .button:hover{
    background-color:#026352 !important;
  }
  span{
    color: #00e7a7 ;
  }
html, body { height: 100%;
  scroll-behavior: smooth; }
body { margin: 0; font-family: 'Lato', sans-serif; }
*{
  text-decoration: none !important;
  list-style: none;
}
.btn{
  background: #026352 !important;
  border: 1px solid #026352;
  color: white;
}
.icon-sun-tabler{
  background: #026352;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards !important; /* Durée de l'animation et conservation de l'état final */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.button {
  box-shadow: rgba(0, 231, 167, 0.1) 0px 34px 35px, rgba(0, 231, 167, 0.3) 0px -8px 15px, rgba(0, 231, 167, 0.12) 0px 4px 6px, rgba(0, 231, 167, 0.17) 0px 8px 9px, rgba(0, 231, 167, 0.09) 0px -3px 5px !important;
  border-radius: 999px;
  background-color: #00e7a7;
  box-shadow: #026352 0 5px 5px 0px;
 box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: auto;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 7px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: 0.3s ease-in-out;
}
.button:hover, .btn{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.3s ease-in-out;
}
