body{
    background-color: #d9f7fe;
}
#appweb{
    background: linear-gradient(0deg, rgba(2, 99, 82, 0.05) 0%, rgba(84, 94, 161, 0.18) 100%);
    p{
        color: rgb(255, 255, 255);
    }
}
#bg-icon{
    background-color: transparent !important;
}
  .btn{
    background-color:  #00e7a7;
    border: 1px solid #00e7a7;
    color: white;
  }
  .btn:hover{
    background-color: rgb(0, 56, 46);
    border: 1px solid rgba(0, 56, 46);
    color: white !important;
  }
  span{
    color: #00e7a7 ;
  }
html, body { height: 100%;
  scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  text-decoration: none !important;
  list-style: none;
}
.btn{
  background: #026352 !important;
  border: 1px solid #026352;
  color: white;
}
.icon-sun-tabler{
  background: #026352;
}

.button {
  border-radius: 999px;
  background-color: #00e7a7;
  box-shadow: #026352 0 5px 5px 0px;
 box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: auto;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: 0.3s ease-in-out;
}
.button:hover, .btn{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.3s ease-in-out;
}
