#appweb{
    background: linear-gradient(0deg, rgba(2, 99, 82, 0.05) 0%, rgba(84, 94, 161, 0.18) 100%);
    p{
        color:#505a5f;
    }
    h2{
      color: #212529 !important;
    }
}

*{
  a{
    text-decoration: none;
  }
}
.btn-sm{
  background-color: #00e7a7 !important;
padding-left: 5px !important;
}

  .bs-icon-lg{
    color: #00e7a7 !important;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    svg{
      height: 32px;
      width: 32px;
    }
  }
 

  .slide-up {
   // position: absolute;
    bottom: 0;
    transition: 2s ease-in-out;
    left: 50%;
    transform: translateY(-200%);
    animation: slideUp 2s forwards; 
  } 

  
  @keyframes slideUp {
   50%, 100%{
      transform: translateY(-20%);  
      opacity: 1;
      transition:ease-in-out 3s;
    }
    70%{
      transform: translateY(-25%);
      transition:ease-in-out 3s;
    }
  
  }
header{

  h1,p{
    padding-bottom: 20px;
  color: #00e7a7 !important;
  text-shadow: -1px -1px 3px #020202, 
  2px 2px 4px #1b1b1b;
  font-family: 'Bungee Inline', sans-serif;
  }
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixe l'image pendant le scroll */
background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
background-position: center; /* Centre la position de l'image */
  object-fit: contain;
  .parallax1{
  height: 100vh;
  }

}
@supports (background-image: url('../../assets/img/illustrations/fondheader-min.webp')) {
  header {
    background-image: url('../../assets/img/illustrations/fondheader-min.webp');
  }
}

/* Utilisation de PNG si WebP n'est pas supporté */
@supports not (background-image: url('../../assets/img/illustrations/fondheader-min.webp')) {
  header {
    background-image: url('../../assets/img/illustrations/fondheader-min.png');
  }
}
.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2{
 height: 50vh;
}
@media(max-width:800px){
  .parallax2{
    margin-bottom: 250px;
    height: 100vh;
  }
  @supports (background-image: url('../../assets/img/illustrations/fondmobile-min.webp')) {
    header {
      background-image: url('../../assets/img/illustrations/fondmobile-min.webp');
    }
  }
  
  /* Utilisation de PNG si WebP n'est pas supporté */
  @supports not (background-image: url('../../assets/img/illustrations/fondmobile-min.webp')) {
    header {
      background-image: url('../../assets/img/illustrations/fondmobile-min.png');
    }
  }
} 


  @media (max-width: 800px) {
    .parralax2{
      height: 50vh;
    }
    #techno{
      margin-top: 0;
    }
    img{
      height: 350px !important;
      width: 350px !important;
    }
  }
