.card{
  border: none !important;
}

*{
  a{
    text-decoration: none;
  }
}
.btn-sm{
padding-left: 5px !important;
}

  .bs-icon-lg{
    color: #00e7a7 !important;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    svg{
      height: 32px;
      width: 32px;
    }
  }
  body{
    overflow: hidden;
  }

.slide-up {
    opacity: 0;
    bottom: 0;
    transition: 2s ease-in-out;
    left: 50%;
    transform: translateY(-200%);
    animation: slideUp 2s forwards; 
  } 
  .card-container{
    display: flex;
    bottom: 0;
    position: absolute;
  }
  .rectangle {
    text-align: justify;
    position: relative;
  bottom: 0;
  max-height: 400px;
margin: 50px;
    flex: 1;
    h2{
      color: white;
    }
    background: rgba(0,34,37,0.9);
    border: 1px solid rgba(0,34,37,1);
    padding: 25px;
    box-sizing: border-box;
    p{
      text-align: justify;
    }
}

h2 {
    margin-top: 0;
}

h3 {
    color: #555;
}

p {
    margin-bottom: 0;
}

  h1{
    font-size:38px;
  }
header{
  background-color: #1b1b1b;
  animation: fadeIn  forwards .5s;
  height: 100vh !important;
  transition: filter 0.5s ease-in-out;
  h1,p{
    padding-bottom:20px;
  color: white !important;
  text-shadow: -1px -1px 3px #020202, 2px 2px 4px #1b1b1b;
  }
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  object-fit: contain;
  display:flex;
.parallax1{
  height: 100vw;
  }
}

.scroll-blur {
height: auto;  
  width: 100%;
  transition: filter 0.5s ease-in-out;
}
@supports (background-image: url('../../assets/img/illustrations/fontheader1.webp')) {
  header {
    background-size: cover;
    background-image: url('../../assets/img/illustrations/header.png');
  }
}

@supports not (background-image: url('../../assets/img/illustrations/fontheader1.webp')) {
  header {
    background-image: url('../../assets/img/illustrations/fontheader1.png');
  }
}
.parallax { 
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2{
 height: 50vh;
}

@media(max-width:1000px){
  .card-container{
    text-align: center;
  }
  .rectangle{
    border-radius: 3px;
    width: 90px;
    padding: 3px;
    height: 90px;
    bottom: 250px;
    p{
      display: none;
    }
    h2{
      text-align: center;
      font-size:11px !important;
    }
    .button{
      display: none;
    }
      display: inline-block !important; /* Pour qu'elles soient alignées horizontalement */
    margin: 5px 10px; /* Ajoute un peu d'espace entre les divs */
    
  }
  .card-container {
    justify-content: center; /* Centre les rectangles horizontalement */
    align-items: center; /* Les aligne au bas du conteneur */
    flex-direction: column; /* Affiche les rectangles en colonne */
  }

  .rectangle {
    max-height: none; /* Annule la hauteur maximale pour occuper toute la hauteur disponible */
  }
  .parallax2{
    display: content;
    margin-bottom: 350px;
    height: 100vh;
  }
} 


 @media (max-width: 1000px) {
  .bs-icon-lg{
    color: #00e7a7 !important;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 8px;
    svg{
      height: 28px;
      width: 28px;
    }
  }
    .parralax2{
      height: 50vh;
    }
    #techno{
      margin-top: 0;
    }
    img{
      height: 350px !important;
      width: 350px !important;
    }
     @keyframes slideUp {
    50%, 100%{
       transform: translateY(-20%);  
       opacity: 1;
       transition:ease-in-out 3s;
     }
     70%{
       transform: translateY(-25%);
       transition:ease-in-out 3s;
     }
 
   }
  

  }
