<header class="pt-5">
    <div class="container pt-4 pt-xl-5" *ngFor="let header of headers">
        <div class="row pt-5">
            <div class="col-md-8 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="display-4 fw-bold mb-5">{{header.text}}&nbsp;<span class="underline">{{header.text1}}</span></h1>
                    <p class="fs-5 text-muted mb-5">avec CSI BUSINESS</p>
                    <form class="d-flex justify-content-center flex-wrap" method="post" data-bs-theme="light">
                        <div class="shadow-lg mb-3"></div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto">
                <div class="text-center position-relative"><picture>
                    <source srcset="../../assets/img/illustrations/Le_pape_de_Jsus_rocket_after_launch_with_smoke_below_modern_uxu_1183455e-054a-44a5-ad9a-fe422630038d.webp" type="image/webp">
                    <source srcset="../../assets/img/illustrations/Le_pape_de_Jsus_rocket_after_launch_with_smoke_below_modern_uxu_1183455e-054a-44a5-ad9a-fe422630038d.png" type="image/png">
                    <img class="img-fluid" src="../../assets/img/illustrations/Le_pape_de_Jsus_rocket_after_launch_with_smoke_below_modern_uxu_1183455e-054a-44a5-ad9a-fe422630038d.webp" alt="image" style="width: 800px; height: 796px;">
                  </picture>
                  </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container py-4 py-xl-5" >
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col"  *ngFor="let presentation of presentations; let i = index;">
                <div class="card border-light border-1 d-flex justify-content-center p-4" style="background: #d9f7fe;">
                    <div class="card-body">
                        <div *ngIf="i===0"   class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon" style="background: var(--bs-body-color);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-world" style="color:#026352;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="9"></circle>
                                <line x1="3.6" y1="9" x2="20.4" y2="9"></line>
                                <line x1="3.6" y1="15" x2="20.4" y2="15"></line>
                                <path d="M11.5 3a17 17 0 0 0 0 18"></path>
                                <path d="M12.5 3a17 17 0 0 1 0 18"></path>
                            </svg></div>
                            <div *ngIf="i===1"   class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon" style="background: var(--bs-body-color);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-brand-apple-arcade" style="color: #026352;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="5" r="2"></circle>
                                <path d="M20 12.5v4.75a0.734 .734 0 0 1 -.055 .325a0.704 .704 0 0 1 -.348 .366l-5.462 2.58a4.998 4.998 0 0 1 -4.27 0l-5.462 -2.58a0.705 .705 0 0 1 -.401 -.691l-.002 -4.75"></path>
                                <path d="M4.431 12.216l5.634 -2.332a5.065 5.065 0 0 1 3.87 0l5.634 2.332a0.692 .692 0 0 1 .028 1.269l-5.462 2.543a5.064 5.064 0 0 1 -4.27 0l-5.462 -2.543a0.691 .691 0 0 1 .028 -1.27z"></path>
                                <line x1="12" y1="7" x2="12" y2="13"></line>
                            </svg></div>
                            <div *ngIf="i === 2" class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon" style="background: var(--bs-body-color);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-tool" style="color: #026352;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 10h3v-3l-3.5 -3.5a6 6 0 0 1 8 8l6 6a2 2 0 0 1 -3 3l-6-6a6 6 0 0 1 -8 -8l3.5 3.5"></path>
                            </svg></div>
                            
                        <div>
                            <h4 class="fw-bold">{{presentation.title}}&nbsp;</h4>
                            <p class="text-muted">{{presentation.text}}</p><button class="button btn-sm px-0" type="button">En savoir plus&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg><br></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  
<section>
    <div class="container py-4 py-xl-5">
        <div class="row">
            <div class="col-md-6">
                <h3 class="display-6 fw-bold pb-md-4">Processus de <span class="underline">développement</span> <p>Conception de votre site</p></h3>
            </div>
            <div class="col-md-6 pt-4">
                <p class="text-muted mb-4">Transformez la vision de votre client en réalité digitale <br />Conception, développement et déploiement du site web client, assurant une expérience utilisateur optimale.</p>
            </div>
        </div>
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                    <div class="row gy-2 row-cols-1 row-cols-sm-2">
                        <div class="col text-center text-md-start"*ngFor="let developpement of developpements; let i = index;" >
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                <svg *ngIf="i === 0" class="bi bi-envelope-check fs-3 bg-transparent" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="background: rgb(175,95,195); color:rgba(2, 99, 82, 1);">
                                    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"></path>
                                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"></path>
                                </svg>
                                <svg *ngIf="i === 1" class="fs-3 bg-transparent" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style=" color:rgba(2, 99, 82, 1);">
                                    <path d="M10 5H14V19H10V5Z" fill="currentColor$"></path>
                                    <path d="M5 19V10H9V19H5Z" fill="currentColor"></path>
                                    <path d="M7 5C5.89543 5 5 5.89543 5 7C5 8.10457 5.89543 9 7 9C8.10457 9 9 8.10457 9 7C9 5.89543 8.10457 5 7 5Z" fill="currentColor"></path>
                                    <path d="M15 5H19V9H15V5Z" fill="currentColor"></path>
                                    <path d="M19 10H15V14H19V10Z" fill="currentColor"></path>
                                </svg>
                                <svg *ngIf="i === 2" class="icon icon-tabler icon-tabler-settings fs-3 bg-transparent" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="background: var(--bs-body-color); color:rgba(2, 99, 82, 1);">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>
                                <svg *ngIf="i === 3" class="bi bi-send-check fs-3 bg-transparent" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="color:rgba(2, 99, 82, 1);">
                                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"></path>
                                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"></path>
                                </svg>
                                <h5 class="fw-bold mb-0 ms-2">{{developpement.title}}</h5>
                            </div>
                            <p class="text-muted my-3">{{developpement.text}}</p>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-first order-md-last">
                
                <div>
                  <picture>
                    <source srcset="../../assets/img/illustrations/Le_pape_de_Jsus_design_paintmodernworkinguxuidecoration3dvector_60f9559b-8337-4ef8-9cde-c9851e6b68a2.webp" type="image/webp">
                    <source srcset="../../assets/img/illustrations/Le_pape_de_Jsus_design_paintmodernworkinguxuidecoration3dvector_60f9559b-8337-4ef8-9cde-c9851e6b68a2.png" type="image/png">
                    <img class="img-fluid" src="../../assets/img/illustrations/Le_pape_de_Jsus_design_paintmodernworkinguxuidecoration3dvector_60f9559b-8337-4ef8-9cde-c9851e6b68a2.webp" alt="image" style="width: 800px; height: 600px;">
                  </picture>
                 </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                <picture>
                    <source srcset="../../assets/img/illustrations/Le_pape_de_Jsus_developpementmodernworkinguxuidecoration3dvecto_ee2908ff-4600-43ca-97f8-82cb4afeedfd.webp" type="image/webp">
                    <source srcset="../../assets/img/illustrations/Le_pape_de_Jsus_developpementmodernworkinguxuidecoration3dvecto_ee2908ff-4600-43ca-97f8-82cb4afeedfd.png" type="image/png">
                    <img class="rounded img-fluid fit-cover" style="min-height: 300px;" alt="image3" src="../../assets/img/illustrations/Le_pape_de_Jsus_developpementmodernworkinguxuidecoration3dvecto_ee2908ff-4600-43ca-97f8-82cb4afeedfd.webp" width="800px" height="600px">
                </picture></div>
            </div>
            <div class="col">
                <div style="max-width: 450px;">
                    <h3 class="fw-bold pb-md-4" id="techno">Fonctionnalités qui rendent votre équipe plus&nbsp;<span class="underline">productive</span></h3>
                    <p class="text-muted py-4 py-md-0">Optimisez la collaboration et la performance avec des fonctionnalités pensées pour rendre votre équipe plus productive que jamais..</p>
                    <div class="row gy-4 row-cols-2 row-cols-md-2">
                        <div class="col"*ngFor="let feature of features">
                            <div><span class="fs-2 fw-bold bg-transparent">{{feature.number}}</span>
                                <p class="fw-normal text-muted">{{feature.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="border rounded border-0 border-primary overflow-hidden" id="appweb">
            <div class="row g-0">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold mb-3">Ce qui nous <span class="underline">distingue</span> radicalement de la <span class="underline">concurrence</span> et des créateurs de sites traditionnels</h2>
                        <p class="mb-4">Votre site, votre image. Personnalisation sans limite, performances inégalées, sécurité intransigeante, et évolutivité constante pour une expérience en ligne qui démarque votre entreprise.</p>
                        <div class="my-3"><a class="button me-2 mt-2" role="button" routerLink="/features" >En savoir plus</a></div>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-last" id="order"  style="min-height: 250px;">
                    <picture>
                        <source srcset="../../assets/img/illustrations/Le_pape_de_Jsus_modern_working_ux_ui_decoration_2d_vector_art_c_f27fa1ac-a22d-449c-91cb-da7f473d333c.webp" type="image/webp">
                        <source srcset="../../assets/img/illustrations/Le_pape_de_Jsus_modern_working_ux_ui_decoration_2d_vector_art_c_f27fa1ac-a22d-449c-91cb-da7f473d333c.png" type="image/png">
                    <img class="w-60 h-60 fit-contain pt-5 pt-md-0" src="../../assets/img/illustrations/Le_pape_de_Jsus_modern_working_ux_ui_decoration_2d_vector_art_c_f27fa1ac-a22d-449c-91cb-da7f473d333c.webp" alt="Design" height="362px" width="400px">
                    </picture>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-4 py-xl-5 mb-5">
    <div class="container">
        <app-pricing></app-pricing>
        <div class="row mb-2">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="display-6 fw-bold mb-5"><span class="pb-3 underline">FAQ<br></span></h2>
                <p class="text-muted mb-5"></p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-8 mx-auto">
                <div class="accordion text-muted" role="tablist" id="accordion-1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1">Comment puis-je contacter le support technique en cas de problème avec le site ou l'application ?</button></h2>
                        <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <p>Vous pouvez contacter notre support technique 24h/24 et 7j/7 via notre formulaire de contact en ligne ou en envoyant un e-mail à <a href="mailto:csibusiness.secretariat@gmail.com"><span>csibusiness.secretariat&#64;gmail.com</span></a></p>
                        
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">Quelle est la différence entre un site internet et une application web, et comment choisir la meilleure option pour mes besoins ?</button></h2>
                        <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <p class="mb-0">Un site internet est idéal pour une présence en ligne statique, tandis qu'une application web offre une interactivité avancée. Le choix dépend de vos objectifs spécifiques. Nous pouvons vous guider pour prendre la meilleure décision en fonction de vos besoins.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3">Quel est le délai de création pour un site web ou une application personnalisée ?</button></h2>
                        <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <p class="mb-0">Les délais de création varient en fonction de la complexité du projet. Cependant, nous travaillons efficacement pour respecter des échéanciers raisonnables. Une fois que nous aurons discuté de vos besoins spécifiques, nous pourrons vous fournir une estimation plus précise du délai de livraison.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>