.card{
  border: none !important;
}

*{
  a{
    text-decoration: none;
  }
}
.btn-sm{
padding-left: 5px !important;
}

  .bs-icon-lg{
    color: #00e7a7 !important;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    svg{
      height: 32px;
      width: 32px;
    }
  }
  body{
    overflow: hidden;
  }

.slide-up {
    opacity: 0;
    bottom: 0;
    transition: 2s ease-in-out;
    left: 50%;
    transform: translateY(-200%);
    animation: slideUp 2s forwards; 
  } 

  h1{
    font-size:38px;
  }
header{
  animation: fadeIn  forwards .5s;
  height: 100vh !important;
  transition: filter 0.5s ease-in-out;
  h1,p{
    padding-bottom:20px;
  color: white !important;
  text-shadow: -1px -1px 3px #020202, 2px 2px 4px #1b1b1b;
  font-family: 'Bungee Inline', sans-serif;
  }
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  object-fit: contain;
.parallax1{
  height: 100vw;
  }
}

.scroll-blur {
height: auto;  
  width: 100%;
  transition: filter 0.5s ease-in-out;
}
@supports (background-image: url('../../assets/img/illustrations/fontheader1.webp')) {
  header {
    background-size: cover;
    background-image: url('../../assets/img/illustrations/fontheader1.webp');
  }
}

@supports not (background-image: url('../../assets/img/illustrations/fontheader1.webp')) {
  header {
    background-image: url('../../assets/img/illustrations/fontheader1.png');
  }
}
.parallax { 
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2{
 height: 50vh;
}

@media(max-width:800px){
  .parallax2{
    display: content;
    margin-bottom: 350px;
    height: 100vh;
  }
  @supports (background-image: url('../../assets/img/illustrations/fondmobile-min.webp')) {
    header {
      background-image: url('../../assets/img/illustrations/fondmobile-min.webp');
    }
  }
  .slide-up{
    opacity: 1;
  }
  
  /* Utilisation de PNG si WebP n'est pas supporté */
  @supports not (background-image: url('../../assets/img/illustrations/fondmobile-min.webp')) {
    header {
      background-image: url('../../assets/img/illustrations/fondmobile-min.png');
    }
  }
} 


 @media (max-width: 1000px) {
    .parralax2{
      height: 50vh;
    }
    #techno{
      margin-top: 0;
    }
    img{
      height: 350px !important;
      width: 350px !important;
    }
     @keyframes slideUp {
    50%, 100%{
       transform: translateY(-20%);  
       opacity: 1;
       transition:ease-in-out 3s;
     }
     70%{
       transform: translateY(-25%);
       transition:ease-in-out 3s;
     }
 
   }
  

  }
